#fundo{ /* Fundo da página */
    position: relative; /* posição relativa para permitir camadas internas */
    width: 80%; /* largura do fundo */
    height: 600px; /* altura do fundo */ 
    background-color: #ccc; /* cor de fundo */
    margin: auto; /* centraliza o fundo */
}


#camadas1{
    position: relative; /* posição relativa para camadas internas */
    width: 150px; /* largura da camada */
    height: 180px;      /* altura da camada */
    background-color: #ff0;/* cor de fundo com transparência */
    border: 5px solid #f00;/* borda da camada */
    text-align: center;/* alinha o texto ao centro */
    float: left; /* permite que as camadas fiquem lado a lado */
}
#camadas2{
    position: relative; 
    width: 150px;
    height: 180px;      
    background-color: #0f0;
    border: 5px solid #090;
    text-align: center;
    float: left; /* permite que as camadas fiquem lado a lado */

}
    #camadas3{
    position: relative; 
    width: 150px;
    height: 180px;      
    background-color: #0ff;
    border: 5px solid #009;
    text-align: center;
    clear: left; /* quebrar a linha */
}
    #absoluta{
    position: absolute; /* posição absoluta sobre a pagina */
    top: 50px; /* distância do topo */
    left: 50px; /* distância da esquerda */
    width: 100px; /* largura da camada */
    height: 120px; /* altura da camada */
    background-color: #009; /* cor de fundo com transparência */
    color: #fff; /* cor do texto */
    z-index: 3; /* define a camada como a mais alta */
}