body{
    text-align: center;
}

img{
    width: 150px;
    height: 100px;
    margin: 30px;
} 

div{
    position:absolute;
    width: 500px;
    height: 250px;
    padding:10px;
    border:5px double;
    font-size:14px;
    text-align:justify;
    top:200px;
    left:450px;
    visibility: hidden; /*visibilidade oculta so aparece se posicionar o curso em cima*/

}
div img{
    width: 250px;
    height: 200px;
    margin: 10px; 
    float: left;
}

#ferrari{
    background-color: red;
    color:#FD0;
    border-color:#FD0;
}
 
#bugatt{
    background-color: rgb(169, 160, 160);
    color:#000;
    border-color:#000;
}
 
#porsche{
    background-color: #000;
    color:#FFF;
    border-color: #FFF;
}
